name: Unit Tests

on:
  push:
    branches:
      - main

jobs:
  UnitTests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: install pytest
      run: pip install pytest

    - name: run pytest
      run: pytest